$_base-font-size-px: 16px !default;
$_half-leading: .4 !default;
$_container-max-widt: 1280px !default;

$color-accent: #cd162c !default;

@import '../../../node_modules/sass-basis/src/css/basis-core';

@import 'mixin';
