@use 'sass:math';
@use '../../node_modules/sass-basis/src/css/core';

.snow-monkey-mega-menu--mega-menu-4 {
	> .c-navbar__submenu {
		display: flex;
		flex-wrap: wrap;
		white-space: normal;
		@include core.container-padding();
		padding-top: var(--_padding1);
		padding-bottom: var(--_padding1);

		> .c-navbar__subitem {
			flex: 1 1 #{ math.div(100%, 6) };
			max-width: #{ math.div(100%, 6) };

			> a {
				font-weight: bold;
				padding: 1rem;
			}
		}

		.c-navbar__submenu {
			display: none !important;
		}
	}

	.snow-monkey-mega-menu__figure {
		position: relative;
		background-color: #eee;

		&::before {
			content: '';
			display: block;
			padding: 56.25% 0 0;
		}

		> img {
			position: absolute;
			inset: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}

	.snow-monkey-mega-menu__label {
		margin: .75rem 0 0;
	}
}
