.snow-monkey-mega-menu--mega-menu-1 {
  > .c-navbar__submenu {
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    @include container-padding();
    padding-top: .5rem;
    padding-bottom: .5rem;

    > .c-navbar__subitem {
      flex: 1 1 25%;
      max-width: 25%;

      > a {
        font-weight: bold;
        padding: 1rem;
      }
    }

    > .c-navbar__subitem {
      > .c-navbar__submenu {
        position: static;
        visibility: visible;
        opacity: 1;
        padding-bottom: 1rem;

        &[aria-hidden="true"] {
          pointer-events: none;
        }

        > .c-navbar__subitem {
          > a {
            padding-top: .25rem;
            padding-bottom: .25rem;
          }
        }

        .c-navbar__submenu {
          display: none !important;
        }
      }
    }
  }

  .c-navbar__subitem {
    > a {
      @include _transition(opacity);
    }

    @include _hover() {
      > a {
        background-color: transparent;
        opacity: .9;
      }
    }
  }

  .snow-monkey-mega-menu__figure {
    position: relative;
    background-color: #eee;

    &::before {
      content: '';
      display: block;
      padding: 56.25% 0 0;
    }

    > img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @supports (object-fit: cover) {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
        object-fit: cover;
        object-position: 50% 50%;
        height: 100%;
      }
    }
  }

  .snow-monkey-mega-menu__label {
    margin: .75rem 0 0;
  }
}
