@import 'core/core';

.l-header:not(.l-header--left) [data-has-global-nav="true"],
.p-drop-nav {
  .snow-monkey-mega-menu > .c-navbar__submenu {
    width: 100vw;
    left: 0;
    transform: none;
    max-width: $_container-max-widt;
    max-width: var(--_container-max-width, $_container-max-widt);
  }
}

.l-header--left {
  .snow-monkey-mega-menu {
    > .c-navbar__submenu {
      @include _media-min(lg) {
        $body-margin-left: 280px; // for IE
        --body-margin-left: #{ $body-margin-left };
        width: calc(100vw - #{ $body-margin-left });
        width: calc(100vw - var(--body-margin-left, #{ $body-margin-left }));
        top: 50%;
        left: 100%;
        transform: translateY(-50%);

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}

.l-header:not(.l-header--left) {
  .snow-monkey-mega-menu[aria-haspopup="true"] {
    > a {
      &::before {
        @include _triangle-top(16px, 10px, var(--accent-color, $color-accent));
        bottom: -0;
        left: calc(50% - 8px);
      }
    }
  }
}

.l-header--left {
  .snow-monkey-mega-menu[aria-haspopup="true"] {
    > a {
      &::before {
        @include _triangle-left(10px, 16px, var(--accent-color, $color-accent));
        right: -0;
        top: calc(50% - 5px);
      }
    }
  }
}

.snow-monkey-mega-menu {
  &[aria-haspopup="true"] {
    &::before {
      display: none !important;
    }

    > a {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        @include _transition(opacity);
      }
    }

    @include _hover(lg) {
      > a {
        &::before {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .c-navbar__submenu {
    background-color: transparent;
  }

  > .c-navbar__submenu {
    background-color: var(--accent-color, $color-accent);

    &::before {
      content: '' !important;
      position: absolute !important;
      top: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      height: auto !important;
      width: auto !important;
      border: none !important;
      margin: 0 calc(50% - 50vw) !important;
      background-color: var(--accent-color, $color-accent);
    }

    &::after {
      content: '';
      position: absolute;
      top: -1.5rem;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
}

@import 'mega-menu-1';
@import 'mega-menu-2';
@import 'mega-menu-3';
@import 'mega-menu-4';
